@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.boton {
  border: 2px solid #f2e6d0;
  color: #AD9E8E;
  display: flex;
  border-radius: 15px; }

.position a img {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  transition: 1s; }
  .position a img:hover {
    transform: scale(1.1); }

.seccion-detalle .detalle-libro .contenedor-img .contenedor-archivos {
  display: flex;
  justify-content: space-around; }

header nav {
  background-color: #aeaeae; }
  header nav h1 {
    color: orangered;
    padding: 10px;
    font-size: 170%; }
    header nav h1 span {
      color: #f2e6d0; }
  header nav div div .d-flex {
    display: flex;
    align-items: center; }
  header nav div div ul li a {
    transition: 0.5s; }
    header nav div div ul li a:hover {
      color: orangered !important; }

.pagina-inicio .portada {
  width: 100%;
  background-image: url(../img/portada.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .pagina-inicio .portada .animate__heartBeat {
    color: orangered;
    font-size: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: infinite; }
    .pagina-inicio .portada .animate__heartBeat span {
      color: #f2e6d0; }
  .pagina-inicio .portada .buscador {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .pagina-inicio .portada .buscador .boton {
      border: 2px solid #f2e6d0;
      color: #AD9E8E;
      display: flex;
      border-radius: 15px; }
  .pagina-inicio .portada .buscador-redes {
    display: flex;
    justify-content: center;
    align-items: center; }
    .pagina-inicio .portada .buscador-redes a {
      text-decoration: none; }
      .pagina-inicio .portada .buscador-redes a i {
        font-size: 25px;
        color: #AD9E8E;
        display: flex;
        flex-direction: flex-direction;
        justify-content: center;
        align-items: center;
        margin: 5px;
        height: -60px; }

.pagina-inicio .seccion-destacados {
  background-color: #f2e6ce; }
  .pagina-inicio .seccion-destacados h2 {
    background-color: #aeaeae;
    color: #594c4c;
    text-align: center;
    padding: 10px;
    border: 2px solid #352f2f;
    border-bottom: 2px solid #352f2f; }
  .pagina-inicio .seccion-destacados .contenedor-destacados {
    padding: 16px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .pagina-inicio .seccion-destacados .contenedor-destacados .destacado {
      width: 170px;
      height: 320px;
      text-align: center;
      border: 2px solid #635d5d;
      text-align: center;
      color: #635d5d;
      background-color: #f2e6d0;
      transition: 1s; }
      .pagina-inicio .seccion-destacados .contenedor-destacados .destacado:hover {
        transform: scale(1.1); }
      .pagina-inicio .seccion-destacados .contenedor-destacados .destacado a img {
        width: 100%; }
      .pagina-inicio .seccion-destacados .contenedor-destacados .destacado .titulo-libro {
        min-height: 65px;
        margin-top: 1rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px; }

.pagina-inicio .seccion-video {
  background-color: #f2e6ce; }
  .pagina-inicio .seccion-video h2 {
    background-color: #aeaeae;
    color: #594c4c;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border: 2px solid #352f2f;
    border-bottom: 2px solid #352f2f; }
  .pagina-inicio .seccion-video iframe {
    width: 600px;
    height: 300px;
    display: block;
    margin: auto;
    padding: 30px; }

.pagina-genero {
  background-color: #f2e6ce;
  height: 100%; }
  .pagina-genero .seccion-libros .titulo-genero {
    background-color: #aeaeae;
    border-top: 2px solid #252424;
    border-bottom: 2px solid #252424;
    color: rgba(10, 9, 9, 0.655);
    padding: 5px;
    text-align: center; }
  .pagina-genero .seccion-libros .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center; }
    .pagina-genero .seccion-libros .grilla .libro {
      border: 2px solid #635d5d;
      text-align: center;
      color: #635d5d;
      background-color: #f2e6d0;
      margin: 16px auto;
      width: 165px;
      height: 300px;
      transition: 1s; }
      .pagina-genero .seccion-libros .grilla .libro:hover {
        transform: scale(1.1); }
      .pagina-genero .seccion-libros .grilla .libro a img {
        width: 100%; }
      .pagina-genero .seccion-libros .grilla .libro .titulo-libro {
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        margin-top: 10px; }
    .pagina-genero .seccion-libros .grilla .libro-1 {
      border: 2px solid #635d5d;
      text-align: center;
      color: #635d5d;
      background-color: #f2e6d0;
      margin: 16px auto;
      width: 165px;
      height: 320px;
      transition: 1s; }
      .pagina-genero .seccion-libros .grilla .libro-1:hover {
        transform: scale(1.1); }
      .pagina-genero .seccion-libros .grilla .libro-1 a img {
        width: 100%; }
      .pagina-genero .seccion-libros .grilla .libro-1 .titulo-libro {
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        margin-top: 10px; }

.colores {
  background-color: #f2e6ce;
  min-height: 100vh;
  font-family: inherit;
  width: 100%;
  display: flex; }
  .colores .form {
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.607);
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em; }
    .colores .form .form-container {
      font-family: inherit;
      width: 100%;
      display: grid;
      gap: 1em;
      grid-auto-columns: 100%; }
      .colores .form .form-container .form-title {
        font-family: inherit;
        text-align: center;
        font-size: 1.9rem; }
      .colores .form .form-container .form-input {
        font-family: inherit;
        font-size: 1rem;
        outline: none;
        border: none;
        border: 1px solid orangered;
        border-radius: 0.2em;
        padding: 10px; }
      .colores .form .form-container .form-cta {
        font-family: inherit;
        font-size: 1rem;
        background-color: #089FE0;
        color: white;
        border: none;
        font-weight: 200px;
        border-radius: 2em;
        cursor: pointer;
        font-weight: 400px; }

/*publicaciones*/
.seccion-detalle {
  padding: 2rem 4rem;
  background-color: #f2e6ce; }
  .seccion-detalle .detalle-libro {
    display: flex;
    flex-wrap: wrap; }
    .seccion-detalle .detalle-libro .contenedor-img .img-libro {
      min-width: 220px; }
    .seccion-detalle .detalle-libro .contenedor-img .contenedor-archivos {
      background-color: #cfcccb;
      margin: .5rem 0;
      padding: .5rem; }
      .seccion-detalle .detalle-libro .contenedor-img .contenedor-archivos a:hover {
        opacity: .5; }
      .seccion-detalle .detalle-libro .contenedor-img .contenedor-archivos a img {
        width: 35px; }
    .seccion-detalle .detalle-libro .contenedor-drive {
      background-color: #cfcccb;
      padding: .5rem;
      display: flex;
      justify-content: center; }
      .seccion-detalle .detalle-libro .contenedor-drive a {
        display: block;
        width: 35px;
        transition: all .3s ease; }
        .seccion-detalle .detalle-libro .contenedor-drive a:hover {
          opacity: .5; }
        .seccion-detalle .detalle-libro .contenedor-drive a img {
          width: 35px; }
    .seccion-detalle .detalle-libro .contenedor-descripcion {
      margin-left: 3rem; }
      .seccion-detalle .detalle-libro .contenedor-descripcion h2 {
        color: orangered;
        margin-bottom: 1rem; }
    .seccion-detalle .detalle-libro .libro-sinopsis {
      width: 100%;
      margin: 1rem 0;
      background-color: #f1f1f1;
      padding: 1rem; }
      .seccion-detalle .detalle-libro .libro-sinopsis h3 {
        margin-bottom: 2rem;
        color: orangered; }

footer {
  padding: 0 1rem;
  background-color: #aeaeae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-areas: "logo redes mail"; }
  footer h2 {
    color: orangered;
    padding: 10px;
    font-size: 30px;
    grid-area: logo; }
    footer h2 span {
      color: #f2e6d0; }
  footer .redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: 1s; }
    footer .redes a img {
      width: 35px;
      height: 35px;
      transition: 1s; }
      footer .redes a img:hover {
        transform: scale(1.2); }
  footer .mail {
    grid-area: mail;
    text-decoration: none;
    color: #594c4c;
    transition: 0.5s; }
    footer .mail:hover {
      color: orangered; }

@media screen and (max-width: 992px) {
  .pagina-inicio .portada {
    width: 100%;
    background-image: url(../img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    .pagina-inicio .portada h2 {
      color: orangered;
      font-size: 25px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pagina-inicio .portada h2 span {
        color: #f2e6d0; }
  .pagina-inicio .seccion-destacados .contenedor-destacados .destacado {
    margin: 1rem; }
  .pagina-inicio .seccion-video iframe {
    max-width: 350px;
    max-height: 250px;
    display: block;
    margin: auto;
    width: 100%; }
  .pagina-genero .seccion-libros .grilla {
    grid-template-columns: 1fr 1fr; }
    .pagina-genero .seccion-libros .grilla .libro .titulo-libro {
      font-family: 'Montserrat Alternates', sans-serif; } }

/*media query para mobile*/
@media screen and (max-width: 640px) {
  .position {
    display: none; }
  .pagina-genero .seccion-libros .grilla {
    grid-template-columns: 1fr; }
  .seccion-detalle {
    padding: 1rem; }
    .seccion-detalle .detalle-libro {
      flex-direction: column; }
      .seccion-detalle .detalle-libro .contenedor-img {
        max-width: 375px;
        text-align: center;
        margin: 2rem auto; }
    .seccion-detalle .contenedor-descripcion {
      margin-left: 0; }
  footer {
    grid-template-areas: "logo logo logo" "redes redes redes" "mail mail mail"; }
    footer .libro {
      text-align: center; }
    footer .mail {
      text-align: center; } }

@media screen and (max-width: 533px) {
  .pagina-inicio .portada .animate__heartBeat {
    font-size: 45px; } }

@media screen and (max-width: 442px) {
  .colores .form {
    max-width: 300px; } }
