@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kanit', sans-serif;
}
    /*! header*/
    header nav{
        background-color:#aeaeae;
    }



header h1 {
    color: orangered;
    padding: 10px;
    font-size:170%;

}


header h1 span {
    color: rgb(242, 230, 208);
}

header nav div div ul li a{
    color:rgb(89, 76, 76);
}

.navbar-nav .nav-link:hover{
    color: orangered;
}


.navbar-nav{
    list-style: none;
    text-decoration: none;
    color: orangered;
    margin:5px;
}

.boton{
    border:2px solid  rgb(242, 230, 208);
    color: #AD9E8E;
    display: flex;
    border-radius: 15px;
}
        /*main*/
.portada {
    width: 100%;
    background-image: url(../img/portada.png); 
    background-position:center ;
    background-repeat:no-repeat ;
    background-size:cover ;
    background-attachment: fixed; 
}    

    .portada h2{
    color: orangered;
    font-size:100px; 
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .portada h2 span{
        color:rgb(242, 230,208)
    }

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscador{
    height:400px;
}

.buscador-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buscador-redes i{
font-size: 25px;
color:#AD9E8E;
display: flex;
flex-direction: row;
}
.buscador-redes i{
    margin: 5px;
}

.buscador-redes i{
    height: -60px;
}
/*inicio*/

.seccion-destacados h2{
    background-color:#aeaeae;
    color: rgb(89,76, 76);
    text-align: center;
    margin: 0px;
    padding: 10px;
    margin: 1rem 0;
}
.seccion-destacados .contenedor-destacados{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.seccion-destacados .contenedor-destacados .destacado{
    max-width: 180px;
    text-align: center;
    border: 2px solid #635d5d;
    text-align: center;
    color: #635d5d;
    background-color: rgb(242, 230, 208);
  
}
.seccion-destacados .contenedor-destacados .destacado img{
    width: 100%;
}
.seccion-destacados .contenedor-destacados .destacado h3{
    min-height: 65px;
    margin-top: 1rem;
    font-size: 22px;
}
.seccion-video{
    padding: 2rem 0;
}
.seccion-video h2{
    background-color:#aeaeae;
    color: rgb(89,76, 76);
    text-align: center;
    margin: 0px;
    padding: 10px;
    margin: 1rem 0;
}

.seccion-video iframe{
    min-width: 700px;
    min-height: 450px;
    display: block;
    margin: auto;
}


/*genero*/
.pagina-genero .seccion-libros{
    margin: 1rem 0;
}
.pagina-genero .seccion-libros .grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.pagina-genero .seccion-libros .grilla .libro{
    border: 2px solid #635d5d;
    text-align: center;
    color: #635d5d;
    background-color: rgb(242, 230, 208);
    margin: 16px auto;
    max-width: 160px;
}
.pagina-genero .seccion-libros .grilla .libro img{
    width: 100%;
}
.libro .titulo-libro{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
.pagina-genero .titulo-genero{
    background-color: #aeaeae;
    color: #635d5d;
    text-align: center;
}



/*autor*/
.autor ul li{
    list-style: none;
}
.autor ul li a{
    text-decoration: none;
    color: #635d5d;
}

.position img {
    width: 50px;
    height: 50px;
}

.position a img{
    position: fixed;
    bottom:  50px;
    right: 20px;
}
    /*pedidos*/
    .colores {
        background-image: url(../img/portada.png); 
        min-height: 100vh;
        font-family: inherit;
        width: 100%;
        display: flex;
    }
    
    .form {
        font-family: inherit;
        background-color: white;
        width: 90%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
    
    }
    
    .form-container {
        font-family: inherit;
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
    
    }
    
    .form.title {
        font-family: inherit;
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 4em;
    }
    
    .form-input {
        font-family: inherit ;
        font-size: 1rem;
        outline: none;
        border: none;
        border: 1px solid orangered;
        border-radius: 0.2em ;
    }
    
    .form-cta {
        font-family: inherit;
        font-size: 1rem;
        background-color: #089FE0;
        color: white;
        border: none;
        font-weight: 200px;
        border-radius: 2em;
        cursor: pointer;
        font-weight: 400px;
    }

    /*biografia*/
.prueba{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prueba div{
    display: block;
}

.prueba .biografia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prueba div h2{
    text-align: left;
}


.prueba .biografia div{
    display: block;
}

.biografia{
    width: 80px;
    background-color: rgb(207, 204, 203);
    cursor: pointer;
    margin-top: 10px;

}

.biografia img{
    width: 25px;
    height: 25px;
    

}
/*footer*/
footer{
    padding: 0 1rem;
    background-color: #aeaeae;
    justify-content:space-between;
    align-items: center;
    display: grid;
    grid-template-areas: "logo redes mail";
}

footer h2 {
    color: orangered;
    padding: 10px;
    font-size: 30px;
    grid-area: logo;

}
footer .redes{
    grid-area: redes;
}
footer .mail{
    grid-area: mail;
}
footer h2 span {
    color:rgb(242, 230, 208)
}

footer h2 a{
    text-decoration: none;
    color:rgb(89,76, 76); 
}
footer h2 a:hover{
    color: orangered;
}

footer div img{
    width: 35px;
    height: 35px;
}

footer div a{
text-decoration: none;}

footer .redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* MEDIA QUERY PARA TABLET */
@media screen and (max-width: 992px){
 
    .pagina-genero .seccion-libros .grilla{
        grid-template-columns: 1fr 1fr;
    }
    
    .seccion-destacados .contenedor-destacados .destacado{
        width: 48%;
        margin: 1rem;
        
    }

    .portada{
        width: 100%;
        background-image: url(../img/portada.png); 
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: fixed;
    }
    .portada h2{
        color: orangered;
        font-size:62px; 
        padding:15px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
        .portada h2 span{
            color:rgb(242, 230,208)
        }
        .bienvenidos{
            flex-direction: column;
            width:80%;
            text-align: center;
            margin: 20px;
        }
        .seccion-video iframe{
            min-width: 350px;
            min-height: 250px;
            display: block;
            margin: auto;
        
        
}
    
/* MEDIA QUERY PARA MOBILE */
@media screen and (max-width: 640px){ 
.position{
    display: none;
}

.pagina-genero .seccion-libros .grilla{
    grid-template-columns: 1fr
}
.seccion-destacados .contenedor-destacados .destacado{
    width: 100%
}
.seccion-video iframe{
    min-width: 350px;
    min-height: 250px;
    display: block;
    margin: auto;
}

footer{
    grid-template-areas: 
    "logo logo logo"
    "redes redes redes"
    "mail mail mail";
} 
footer .libro,footer .mail {
    text-align: center;
}

}
@media screen and (max-width: 368px){ 
    .seccion-video iframe{
        min-width: 320px;
        min-height: 250px;
        display: block;
        margin: auto;
}




