

.portada {
    width: 100%;
    background-image: url(../img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h2 {
        color: orangered;
        font-size: 100px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        color: rgb(242, 230, 208)
    }

    .buscador {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .buscador-redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        i {
            font-size: 25px;
            color: #AD9E8E;
            display: flex;
            flex-direction: row;
            margin: 5px;
            height: -60px;
        }
    }
}

.seccion-destacados {
    h2 {
        background-color: #aeaeae;
        color: rgb(89, 76, 76);
        text-align: center;
        margin: 0px;
        padding: 10px;
        margin: 1rem 0;
    }

    .contenedor-destacados {
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .destacado {
            max-width: 180px;
            text-align: center;
            border: 2px solid #635d5d;
            text-align: center;
            color: #635d5d;
            background-color: rgb(242, 230, 208);

            a {
                img {
                    width: 100%;
                }

                h3 {
                    min-height: 65px;
                    margin-top: 1rem;
                    font-size: 22px;
                }
            }
        }
    }
}

.seccion-video {
    padding: 2rem 0;

    h2 {
        background-color: #aeaeae;
        color: rgb(89, 76, 76);
        text-align: center;
        margin: 0px;
        padding: 10px;
        margin: 1rem 0;
    }

    iframe {
        min-width: 700px;
        min-height: 450px;
        display: block;
        margin: auto;
    }
}

.pagina-genero {
    .seccion-libros {
        margin: 1rem 0;

        .titulo-genero {
            background-color: #aeaeae;
            color: #635d5d;
            text-align: center;
        }

        .grilla {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;

            .libros {
                border: 2px solid #635d5d;
                text-align: center;
                color: #635d5d;
                background-color: rgb(242, 230, 208);
                margin: 16px auto;
                max-width: 160px;

                img {
                    width: 100%;
                }
            }

            .titulo-libros {
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 15px;
                margin-top: 10px;
            }
        }
    }
}

.position {
    a {
        img {
            position: fixed;
            bottom: 50px;
            right: 20px;
            width: 50px;
            height: 50px;

        }
    }
}

.colores {
    background-image: url(../img/portada.png);
    min-height: 100vh;
    font-family: inherit;
    width: 100%;
    display: flex;

    .form {
        font-family: inherit;
        background-color: white;
        width: 90%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
            .form-container {
                font-family: inherit;
                width: 100%;
                display: grid;
                gap: 1em;
                grid-auto-columns: 100%;

                h2 {
                    font-family: inherit;
                    text-align: center;
                    font-size: 1.9rem;
                    margin-bottom: 4em;
                }

                .form-input {
                    font-family: inherit;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    border: 1px solid orangered;
                    border-radius: 0.2em;
                }

                .form-cta {
                    font-family: inherit;
                    font-size: 1rem;
                    background-color: #089FE0;
                    color: white;
                    border: none;
                    font-weight: 200px;
                    border-radius: 2em;
                    cursor: pointer;
                    font-weight: 400px;
                }
            }
        }
    }


/*publicaciones*/
.prueba {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: block;

        h2 {
            text-align: left;
        }

        .biografia {
            width: 80px;
            background-color: rgb(207, 204, 203);
            cursor: pointer;
            margin-top: 10px;

            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

footer {
    h2 {
        color: orangered;
        padding: 10px;
        font-size: 30px;
        grid-area: logo;

        span {
            color: rgb(242, 230, 208)
        }
    }

    .redes {
        grid-area: redes;
        display: flex;
        justify-content: center;
        gap: 20px;

        img {
            width: 35px;
            height: 35px;
        }
    }

    .mail {
        grid-area: mail;
    }

    h3 {
        a {
            text-decoration: none;
            color: rgb(89, 76, 76);

            & {
                color: orangered;
            }
        }
    }
}
@media screen and (max-width: 992px){
    .portada{
        width: 100%;
        background-image: url(../img/portada.png); 
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: fixed;
        h2{
            color: orangered;
            font-size:62px; 
            padding:15px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color:rgb(242, 230,208)
                }
            }
        }
    }
    .seccion-destacados{
        .contenedor-destacados{
            .destacado {
                width: 48%;
                margin: 1rem;
            }
        }
    }
    .seccion-video {
    iframe{
        min-width: 350px;
        min-height: 250px;
        display: block;
        margin: auto;
        }
    }
    .pagina-genero{
        .seccion-libros{
            .grilla{
                grid-template-columns: 1fr 1fr;
            }
        }
    }


/*media query para mobile*/
@media screen and (max-width: 640px){
    .position {
        display: none;
    }

    .seccion-destacados {
        .contenedor-destacados {
            .destacado {
                width: 100%;
            }
        }
    }
    .seccion-video {
        iframe {
            min-width: 350px;
            min-height: 250px;
            display: block;
            margin: auto;
        }
    }

    .pagina-genero {
        .seccion-libros {
            .grilla {
                grid-template-columns: 1fr
            }
        }
    }

    footer {
        .libro {
            text-align: center;
        }

        .mail {
            text-align: center;
        }
    }
}
    @media screen and (max-width: 368px) {
        .seccion-video {
            iframe {
                min-width: 320px;
                min-height: 250px;
                display: block;
                margin: auto;
            }
        }





        @import "./base/generales";
        @import "./base/variables";
        @import "./components/header";
        @import "./components/layout";
        @import "./components/footer";
        @import "./base/mediaquery";


    }