
footer {
    padding: 0 1rem;
    background-color: #aeaeae;
    @include flex(flex,space-between,center);
    display: grid;
    grid-template-areas: "logo redes mail";
    h2 {
        color: orangered;
        padding: 10px;
        font-size: 30px;
        grid-area: logo;
        span {
            color: rgb(242, 230, 208)
        }
    }
    .redes {
        grid-area: redes;
        display: flex;
        justify-content: center;
        gap: 20px;
        transition: 1s;
        a{
        img {
            width: 35px;
            height: 35px;
            transition: 1s;
            &:hover{
                transform:scale(1.2);
            }
            }
        }
    }
    .mail {
        grid-area: mail;
        text-decoration: none;
            color: rgb(89, 76, 76);
            transition: 0.5s;
            &:hover{
                color: orangered;
            }
        }
}