
footer {
    padding: 0 1rem;
    background-color: #aeaeae;
    justify-content:space-between;
    align-items: center;
    @include flex (flex,space-between,center);
    display: grid;
    grid-template-areas: "logo redes mail";
    h2 {
        color: orangered;
        padding: 10px;
        font-size: 30px;
        grid-area: logo;

        span {
            color: rgb(242, 230, 208)
        }
    }

    .redes {
        grid-area: redes;
        display: flex;
        justify-content: center;
        gap: 20px;

        img {
            width: 35px;
            height: 35px;
        }
    }

    .mail {
        grid-area: mail;
    }

    h3 {
        a {
            text-decoration: none;
            color: rgb(89, 76, 76);
            &:hover{
                color: orangered;
            }
        }
    }
}