header{
    nav{
        background-color:#aeaeae;
            h1{
                color: orangered;
                padding: 10px;
                font-size:170%;
                span{
                    color: rgb(242, 230, 208);
                }
            }
            div{
                div{
                    ul{
                        transition: 1s;
                        &:hover{
                            color: orangered;
                        }
                        li{
                            a{
                                transition: 1s;
                                &:hover{
                                    color: orangered !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
