header{
    nav{
        background-color:#aeaeae;
            h1{
                color: orangered;
                padding: 10px;
                font-size:170%;
                span{
                    color: rgb(242, 230, 208);
                }
            }
            div{
                div{
                    .d-flex{
                        display: flex;
                        align-items: center;
                    }
                    ul{
                        li{
                            a{
                                transition: 0.5s;
                                &:hover{
                                    color: orangered !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
