.boton {
    border: 2px solid rgb(242, 230, 208);
    color: #AD9E8E;
    display: flex;
    border-radius: 15px;
}

.portada {
    width: 100%;
    background-image: url(../img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .animate__heartBeat {
        color: orangered;
        font-size: 100px;
        padding: 15px;
        @include flex(flex, center, center);
        animation-timing-function: infinite;

        span {
            color: rgb(242, 230, 208)
        }
    }

    .buscador {
        height: 400px;
        @include flex(flex, center, center);

        .boton {
            border: 2px solid rgb(242, 230, 208);
            color: #AD9E8E;
            display: flex;
            border-radius: 15px;
        }
    }

    .buscador-redes {
        @include flex(flex, center, center);

        a {
            text-decoration: none;

            i {
                font-size: 25px;
                color: #AD9E8E;
                @include direction (flex, flex-direction, center, center);
                margin: 5px;
                height: -60px;
            }
        }
    }
}

.seccion-destacados {
    h2 {
        background-color: #aeaeae;
        color: rgb(89, 76, 76);
        text-align: center;
        margin: 0px;
        padding: 10px;
        margin: 1rem 0;
    }

    .contenedor-destacados {
        padding: 16px;
        flex-wrap: wrap;
        @include flex (flex, space-around, center);

        .destacado {
            max-width: 180px;
            text-align: center;
            border: 2px solid #635d5d;
            text-align: center;
            color: #635d5d;
            background-color: rgb(242, 230, 208);
            transition: 1s;

            &:hover {
                transform: scale(1.0);
            }

            a {
                img {
                    width: 100%;
                }

                h3 {
                    min-height: 65px;
                    margin-top: 1rem;
                    font-size: 20px;
                }
            }
        }
    }
}

.seccion-video {
    padding: 2rem 0;

    h2 {
        background-color: #aeaeae;
        color: rgb(89, 76, 76);
        text-align: center;
        margin: 0px;
        padding: 10px;
        margin: 1rem 0;
    }

    iframe {
        min-width: 700px;
        min-height: 450px;
        display: block;
        margin: auto;
    }
}

.pagina-genero {
    .seccion-libros {
        margin: 1rem 0;

        .titulo-genero {
            background-color: #aeaeae;
            color: #635d5d;
            text-align: center;
        }

        .grilla {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;

            .libro {
                border: 2px solid #635d5d;
                text-align: center;
                color: #635d5d;
                background-color: rgb(242, 230, 208);
                margin: 16px auto;
                max-width: 160px;
                transition: 1s;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                }

                .titulo-libro {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
        }
    }
}


.position {
    a {
        img {
            position: fixed;
            bottom: 50px;
            right: 20px;
            width: 50px;
            height: 50px;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.colores {
    background-image: url(../img/portada.png);
    min-height: 100vh;
    font-family: inherit;
    width: 100%;
    display: flex;

    .form {
        font-family: inherit;
        background-color: white;
        width: 90%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;

        .form-container {
            font-family: inherit;
            width: 100%;
            display: grid;
            gap: 1em;
            grid-auto-columns: 100%;

            .form.title {
                font-family: inherit;
                text-align: center;
                font-size: 1.9rem;
                margin-bottom: 4em;
            }

            .form-input {
                font-family: inherit;
                font-size: 1rem;
                outline: none;
                border: none;
                border: 1px solid orangered;
                border-radius: 0.2em;
            }

            .form-cta {
                font-family: inherit;
                font-size: 1rem;
                background-color: #089FE0;
                color: white;
                border: none;
                font-weight: 200px;
                border-radius: 2em;
                cursor: pointer;
                font-weight: 400px;
            }
        }
    }
}

/*publicaciones*/
.seccion-detalle{
    padding: 2rem 4rem ;
    .detalle-libro{
        display: flex;
        flex-wrap: wrap;
        .contenedor-img{
            .img-libro{
                min-width: 220px;
            }
            .contenedor-archivos{
                display: flex;
                justify-content: space-around;
                background-color: #cfcccb;
                margin: .5rem 0;
                padding: .5rem;
                a{
                    &:hover{
                        opacity: .5;
                    }
                    img{
                        width:35px;
                    }
                }
            }
        }   
            .contenedor-drive{
                background-color: #cfcccb;
                padding: .5rem;
                display: flex;
                justify-content: center;
                a{
                    display: block;
                    width: 35px;
                    transition: all .3s ease;
                    &:hover{
                        opacity: .5;
                    }
                    img{
                        width: 35px;
                        }
                    
                }
            }
        .contenedor-descripcion{
            margin-left: 3rem;
            h2{
                color: orangered;
                margin-bottom: 1rem;
                }
            }
        .libro-sinopsis{
            width: 100%;
            margin: 1rem 0;
            background-color: #f1f1f1;
            padding: 1rem;
            h3{
                margin-bottom: 2rem;
                color: orangered;
                }
            }
        }
    }



























