@media screen and (max-width: 992px) {
    .pagina-inicio {
        .portada {
            width: 100%;
            background-image: url(../img/portada.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            h2 {
                color: orangered;
                font-size: 25px;
                padding: 15px;
                @include flex (flex, center, center);

                span {
                    color: rgb(242, 230, 208)
                }
            }
        }
    }

    .seccion-destacados {
        .contenedor-destacados {
            .destacado {
                margin: 1rem;

            }
        }
    }

    .seccion-video {
        iframe {
            min-width: 350px;
            min-height: 250px;
            display: block;
            margin: auto;
        }
    }

    .pagina-genero {
        .seccion-libros {
            .grilla {
                grid-template-columns: 1fr 1fr;

                .libro {
                    .titulo-libro {
                        font-family: 'Montserrat Alternates', sans-serif;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .pagina-inicio {
        .seccion-video {
            iframe {
                width: 100%;
                display: block;
                margin: auto;
            }
        }
    }
}

/*media query para mobile*/
@media screen and (max-width: 640px) {


    .pagina-inicio {
        .seccion-video {
            iframe {
                width: 100%;
                display: block;
                margin: auto;
            }
        section{
            .position {
                display: none;
            }
        }
        
    }
}

    .pagina-genero {
        .seccion-libros {
            .grilla {
                grid-template-columns: 1fr
            }
        }
    }

    .seccion-detalle {
        padding: 1rem;

        .detalle-libro {
            flex-direction: column;

            .contenedor-img {
                max-width: 375px;
                text-align: center;
                margin: 2rem auto;
            }
        }

        .contenedor-descripcion {
            margin-left: 0;
        }
    }

    footer {
        grid-template-areas:
            "logo logo logo"
            "redes redes redes"
            "mail mail mail";

        .libro {
            text-align: center;
        }

        .mail {
            text-align: center;
        }
    }
}

@media screen and (max-width: 533px) {
    .pagina-inicio {
        .portada {
            .animate__heartBeat {
                font-size: 45px;
            }
        }
    }
}


@media screen and (max-width: 442px) {
    .colores{
        .form {
            max-width: 300px;
        }
    }
    }

@media screen and (max-width: 380px) {
    .pagina-inicio {
        .seccion-video {
            iframe {
                width: 100%;

            }
        }
    }
}
@media screen and (max-width: 368px) {
    .pagina-inicio {
        .seccion-video {
            iframe {
                width: 100%;

            }
        }
    }
}