$font-size:
100px,
25px,
20px,
1.9rem,
1rem;

@mixin flex ($flex,$justify,$align){
    display:$flex;
    justify-content:$justify;
    align-items: $align;
}


@mixin direction ($flex,$direction,$justify,$align){
    display:$flex;
    flex-direction:$direction;
    justify-content:$justify;
    align-items:$align;
}


